<div class="panel admin">
	<h3>2. Create new class or page</h3>
 	<a data-toggle="modal" href="#create-class-Modal" class="btn">Create new class</a>
  	<a data-toggle="modal" href="#create-page-Modal" class="btn">Create new page</a>
</div>
<% include modal/admin-create-class %>
<% include modal/admin-create-page %>
