<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Website Admin</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <% include head %>
  <link href="ckeditor/skins/moono/editor.css?t=D6IE" rel="stylesheet">
  <script src="ckeditor/ckeditor.js"></script>
  <script src="js/admin.js"></script>
  <style>
  .nav>li , ul{
	position: relative;
	display: inline;
}
  </style>
</head>
<body>
	<div class="admin">
		<h1>Admin</h1>
		<div class="admin-edit">
			<% include admin/admin-edit %>
		</div>
		<div class="admin-create">
			<% include admin/admin-create %>
		</div>
	</div>
</body>
</html>
