<div class="footer">
	<div class="col-md-6 left-text">
		本網站著作權屬於國立臺灣大學 新聞研究所，請詳見使用規則。<br>
		電話：(02)33663131 傳真：(02)2366-0285<br>
		地址：(106) 台北市羅斯福路四段一號 E-Mail：cpl@ntu.edu.tw
	</div>
	<div class="col-md-6 right-text">
		<a>台灣大學</a>
		|
		<a>English</a>
	<div>
</div>