<div class="footer">
	<div class="col-md-6 left-text">
		<% if (locale === 'zh-tw') { %>
		本網站著作權屬於國立臺灣大學新聞研究所。<br>
		電話：(02)3366-3131 傳真：(02)2366-0285<br>
		地址：(106) 台北市羅斯福路四段一號 E-Mail：cpl@ntu.edu.tw
		<% } else { %>
		Authored by NTU journalism<br>
		Tel：+886-2-3366-3131 Fax：+886-2-2366-0285 <br>
		Address: No.1, Sec.4, Roosevelt Road, Taipei, 10617 Taiwan (R.O.C.) <br>
		E-Mail：cpl@ntu.edu.tw
		<% } %>
	</div>
	<div class="col-md-6 right-text">
		<a href="http://www.ntu.edu.tw/">台灣大學</a>
		<!-- |
		<a>English</a> -->

		<select id="localeSelect">
			<% if (locale === 'zh-tw' ) { %>
				<option selected="selected" value="zh-tw">Chinese</option>
				<option value='en'>English</option>
			<% } else { %>
				<option value="zh-tw">Chinese</option>
				<option selected="selected" value='en'>English</option>
			<% } %>
		</select>

		<script type="text/javascript" >
        	$('#localeSelect').change(function(){
        		$.post('/changeLocale',
		      	{
		        	locale: $(this).val()
		      	},
		      		function(data,status){
		        	location.reload();
		      	});
        	});
        </script>
	<div>
</div>