<header>
	<div onclick="location.href='/';">
		<div class="header-title"></div>
		<div class="header-small-title"></div>
		</div>
		<div class="header-navi-bar">
			<ul class="nav nav-pills">
				<% for(var i=0; i<pages.length; i++) { %>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="header-navi-bar-text">
							<%= pages[i].title %> 
						</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<% for(var j=0; j<pages[i].subPages.length; j++) { %>
						<li><a href="/p/<%=pages[i].title%>/<%=pages[i].subPages[j].title %>">
							<%= pages[i].subPages[j].title %>
						</span>
					</a></li>
					<% } %>
				</ul>
			</li>
			<% } %>
		</ul>
	</div>
</header>