<div class="header">
    <a href="/"><img class="header-image" src="/img/header-lg.png"></img></a>
    <div class="header-navi-bar">
        <ul class="nav nav-pills">
        <% for(var i=0; i<pages.length; i++) { %>
        <% if (pages[i]._id === 'admissions') continue;%>
        <li class="dropdown">
            <a role="button" class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="header-navi-bar-text">
                <%= pages[i].title %> 
            </span>
            <!-- <span class="caret"></span> -->
            </a>
            <ul class="dropdown-menu">
                <% for(var j=0; j<pages[i].subPages.length; j++) { %>
                <li><a href="/p/<%=pages[i]._id%>/<%=pages[i].subPages[j]._id %>">
                    <%= pages[i].subPages[j].title %>
                </a></li>
                <% } %>
            </ul>
        </li>
        <% } %>
        </ul>
    </div>
</div>