<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pivotal Search</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <% include head %>
      <script>
          YUI({
              classNamePrefix: 'pure'
          }).use('gallery-sm-menu', function (Y) {

              var horizontalMenu = new Y.Menu({
                  container         : '#horizontal-menu',
                  sourceNode        : '#std-menu-items',
                  orientation       : 'horizontal',
                  hideOnOutsideClick: false,
                  hideOnClick       : false
              });

              horizontalMenu.render();
              horizontalMenu.show();

          });
      </script>

      <style>
      .content {
        overflow : hidden;
        width : 900px;
        height : 550px;
        position: relative;
      }

      .link {
        position: relative;
        margin: 0px auto;
        width : 900px;
        height : 200px;
        padding-top:10px; 
        padding-left:10px; 
        padding-right:10px; 
        padding-bottom:10px; 
        display: inline-block;
      }

      .link img{
        vertical-align: baseline;
      }

      .link .link-e-forum {
        position: absolute;
        top: 10px;
        margin: 0px auto;
        width : 345px;
        height : 200px;
        display: inline-block;
      }

      .link .link-fb {
        position: absolute;
        top: 10px;
        left: 325px;
        margin: 0px auto;
        width : 245px;
        height : 200px;
        display: inline-block;
      }

      .link .link-enroll {
        position: absolute;
        top: 2px;
        left: 600px;
        margin: 0px auto;
        width : 275px;
        height : 200px;
        display: inline-block;
      }

      .carousel {
        background-repeat : no-repeat;
        width : 600px;
        height : 350px;
        display : inline-block;
      }

      .carousel-indicators {
        top : 5%;

      }

      .carousel-control .icon-prev{
        top : 90%;
        left : 25%;
      }

      .carousel-control .icon-next {
        top : 90%;
        left : 75%;
      }

      .carousel-caption{
        left : 0%;
        bottom : 0%;
        z-index: 0;
        width : 600px;
        height : 55px;
        background-color: rgba(0,0,0,0.5);  
      }

      .carousel-caption .carousel-text{
        top : 0%;
        z-index: 1;
        font-family : 微軟正黑體;
        font-size : 16px;
        color : #FFFFFF;
        color : rgba(255,255,255,1);
        opacity:1;  
        font-weight: bolder;  
      }

      .news {
        background-color: rgba(206,235,240,0.5);
        height : 350px;
        display : inline-block;
      }

      </style>



    </head>
    <body>
      <% include header %>
      <div class="pure-g content-all">
        <div class="pure-u-2-3">
          <% include index/index-carousel %>
        </div>
        <div class="pure-u-1-3 news">
          <p>最新消息</p>
        </div>

        <div class="link">
          <div class="link-e-forum">
            <img src="img/e-forum.png" style="max-width: 300px;" ></img>
          </div>
          <div class="link-fb">
            <img src="img/activity.png" style="max-width: 250px;"></img>
            <img src="img/fb-student.png" style="max-width: 60px;"></img>
            <img src="img/fb-alumnus.png" style="max-width: 60px;"></img>
            <img src="img/flicker-activity.png" style="max-width: 98px;"></img>
          </div>
          <div class="link-enroll">
            <img src="img/recruit-students.png" style="max-width: 270px;"></img>
            <img src="img/link.png" style="max-width: 270px;"></img>
          </div>
        </div>

      </div>


    </div>
    <% include footer %>
  </body>
  </html>