<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pivotal Search</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <% include head %>

    </head>
    <body>
      <% include header %>

      <div class="row content">
        <div class="col-md-8">
          <% include index/index-carousel %>
        </div>
        <div class="col-md-4 news"> 
          <table class="table">
            <tbody>
              <tr>
                <td><img src="img/image06.png"></img>
                    <span class="title">最新消息</span>
                </td>
              </tr>
              <tr>
                <td>臺大新聞所 原住民族傳播與文化研究中心 LOGO徵選活動起跑！</td>
              </tr>
              <tr>
                <td>台灣大學新聞所原住民族傳播與文化
                研究中心 誠徵 碩士級專任研究助理。</td>
              </tr>
              <tr>
                <td>臺灣大學新聞研究所102學年度招生
                考試 口試時間表。</td>
              </tr>
              <tr>
                <td>本所本學期開始與UPI Next合作，提
                供選修英文新聞寫作課程媒體實習。</td>
              </tr>
              <tr>
                <td><span class="read-more"><u>Read More</u></span></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="link">
          <div class="link-e-forum">
            <img src="img/e-forum.png" style="max-width: 300px;" ></img>
          </div>
          <div class="link-fb">
            <img src="img/activity.png" style="max-width: 250px;"></img>
            <img src="img/fb-student.png" style="max-width: 60px;"></img>
            <img src="img/fb-alumnus.png" style="max-width: 60px;"></img>
            <img src="img/flicker-activity.png" style="max-width: 98px;"></img>
          </div>
          <div class="link-enroll">
            <img src="img/recruit-students.png" style="max-width: 270px;"></img>
            <img src="img/link.png" style="max-width: 270px;"></img>
          </div>
        </div>


      </div>
    <% include footer %>
  </body>
  </html>