<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pivotal Search</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <% include head %>
        
    <script>
      YUI({
          classNamePrefix: 'pure'
      }).use('gallery-sm-menu', function (Y) {

          var horizontalMenu = new Y.Menu({
              container         : '#horizontal-menu',
              sourceNode        : '#std-menu-items',
              orientation       : 'horizontal',
              hideOnOutsideClick: false,
              hideOnClick       : false
          });

          horizontalMenu.render();
          horizontalMenu.show();

      });
    </script>
  </head>
  
  <body>
    <% include header %>
    <div class="pure-g content-all">
      <div class="pure-u-1-3">
        <% include header-left %>
      </div>
      <div class="pure-u-2-3">
        <% include content %>
      </div>
    </div>
    <% include footer %>
  </body>
</html>        
      