<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>國立台灣大學新聞研究所</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <% include head %>
</head>

<body>
    <% include header %>

    <div class="row content">
        <div class="col-md-2 header-left">
          <% include header-left %>
        </div>
        <div class="col-md-10"> 
          <% include content %>
        </div>
    </div>

    <% include footer %>
</body>
</html>        
      