<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>國立台灣大學新聞研究所</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <% include head %>
    <script src="/js/news.js"></script>
</head>

<body>
    <% include header %>
    <div class="content">      
        <div class="news-title">
            相關連結
            <h4>台灣大學</h4>
        </div>
    </div>
    <% include footer %>
</body>
</html>   