<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>國立台灣大學新聞研究所</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <% include head %>
    <script src="/js/news.js"></script>
</head>

<body>
    <% include header %>
    <div class= "content">      
        <div class="news-title">
        <% if (type === 'news') { %>
        最新消息
        <% } %>
        <% if (type === 'activity') { %>
        近期活動
        <% } %>
        <% if (type === 'enroll') { %>
        招生資訊
        <% } %>
        </div>

        <table id="news-table" class="table news-table">
            <thead>
              <tr>
                <th class="date">日期</th>
                <th class="title">標題</th>
                <th class="hit">瀏覽人次</th>
              </tr>
            </thead>
            <tbody>
            　<% for (var i = 0 ; i<newsList.length ; i++) { %>
                <% var date = newsList[i].date; %>
                <% dateStr = date.getFullYear() + '/' + (date.getMonth()+1) + '/' + date.getDate(); %>
              <tr>
                <td class="date"><%- dateStr %></td>
                <td class="title">
                    <a data-id="<%= newsList[i]._id %>" data-toggle="modal" href="#news-content-Modal">
                    <%= newsList[i].title %>
                    </a>
                </td>
                <td class="hit"><%= newsList[i].hit %></td>
              </tr>
              <% } %>
            </tbody>
        </table>
        <% include news/modal-news-content %>
    </div>
    <% include footer %>
</body>
</html>   