body {
    font-family : 微軟正黑體;
}

hr {
    border:0; 
    height:3px;
    margin-top: -9px; 
    background-color:#76B4D8;
}

.header {
	width : 900px;
	height : 155px;
	margin: auto;
	cursor: pointer;
    box-shadow: 0px 0px 5px #999; 

    .header-image {
        width : 900px;
        height : 114px;
    }

	.header-title {
		background-image : url(../img/image02.png);
		width : 260px;
		height : 90px;
		margin-left: 90px; 
		margin-top: 20px;
		display: inline-block;
	}

	.header-small-title {
		background-image : url(../img/image03.png);
		background-repeat : no-repeat;
		width : 310px;
		height : 60px;
		margin-left: 340px; 
		margin-top: 20px;
		display: inline-block;
	}

	.header-navi-bar {
		background : #004F78;
        // background : #000000;
		// border-style : outset outset none outset ;
		// border-color : #230982;
		// border-width : 1px;
		// border-radius: 5px;
		width : 900px;
		height : 41px;
		// margin-left: 100px; 
		// box-shadow: 1px 1px 5px #999;
		display: inline-block;

        .header-navi-bar-text {
            font-family : 微軟正黑體;
            font-size : 15px;
            font-weight: bolder;
            color : #FFFFFF;
            text-outline : #FFFFFF;
            //padding-left: 20px;
        }

        .nav>li {
            width:120px;
            text-align: center;
        }

        .dropdown-menu {
            min-width:120px;
        }

        .dropdown-menu>li {
            width:120px; 
            margin: 0px;
        }

        .dropdown-menu>li>a {
            margin: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }

        .nav>li>a:hover , .nav>li>a:focus
        {
            background: #76B4D8;
            color: #000000;
            height : 41px;
        }

        .nav>li>a:hover .header-navi-bar-text, .nav>li>a:focus .header-navi-bar-text
        {
            background: #76B4D8;
            color: #000000;
        }


	}


}

.content {
	position: relative;
	width : 900px;
	min-height : 500px;
	margin: auto; 
	box-shadow: 0px 0px 5px #999; 

	.col-md-2, .col-md-4, .col-md-8, .col-md-10 {
		padding-left:  0;
		padding-right:  0;
	}

	.link {
        position: relative;
        margin: 0px auto;
        width : 900px;
        height : 150px;
        padding-top:10px; 
        padding-left:10px; 
        padding-right:10px; 
        padding-bottom:10px; 
        display: inline-block;

        img {
        	vertical-align: baseline;
      	}

      	.link-e-forum {
	        position: absolute;
	        top: 10px;
	        margin: 0px auto;
	        width : 345px;
	        height : 200px;
	        display: inline-block;
      	}

        .link-fb {
            position: absolute;
            top: 10px;
            left: 325px;
            margin: 0px auto;
            width : 245px;
            height : 200px;
            display: inline-block;
        }

        .link-enroll {
            position: absolute;
            top: 2px;
            left: 600px;
            margin: 0px auto;
            width : 275px;
            height : 200px;
            display: inline-block;
        }

        .sub-link-e-forum , .sub-link-e-flickr{
            margin-left:1px;
        }
    }

    .carousel {
        background-repeat : no-repeat;
        width : 600px;
        height : 350px;
        display : inline-block;

        .carousel-indicators {
            top : 5%;
        }

        .carousel-control .icon-prev{
            top : 90%;
            left : 25%;
        }

        .carousel-control .icon-next {
            top : 90%;
            left : 75%;
        }

        .carousel-caption{
            left : 0%;
            bottom : 0%;
            z-index: 0;
            width : 600px;
            height : 55px;
            background-color: rgba(0,0,0,0.5); 

            .carousel-text{
                top : 0%;
                z-index: 1;
                font-family : 微軟正黑體;
                font-size : 16px;
                color : #FFFFFF;
                color : rgba(255,255,255,1);
                opacity:1;  
                font-weight: bolder;  
            } 
        }
    }

    .news {
        background-color: rgba(206,235,240,0.5);
        height : 350px;
        padding: 20px;
        display : inline-block;

        .title {
            font-family : 微軟正黑體;
            font-size : 20px;
            color : #182945;
            color : rgb(24, 41, 69);
            text-outline : #182945;
            text-outline : rgb(24, 41, 69);
            margin-left: 10px;
            font-weight: bolder;
        }

        .table tbody>tr>td {
            border: 0;
        }

        .read-more {
            text-align: right;
            margin-left : auto; 
            margin-right : 0; 
        }

    }

    .header-left {
        background : #DFE6F2;
        background : rgba(223, 230, 242, 1); 
        overflow: hidden;
        .list-text {
            background : #DFE6F2;
            background : rgba(223, 230, 242, 1);
            text-align: center;
        }
        .list-group {
            margin-bottom: 0px;
        }
    }

    .page-content {
        padding: 30px;
    }
}

.footer {
	background : #1A1A1A;
	background : rgba(26, 26, 26, 1);
	margin: 0px auto;
	width : 900px;
	height : 90px;
    padding-left: 20px;
    padding-right: 20px;
	//overflow : hidden;

	.left-text {
        padding : 10px;
		font-family : 微軟正黑體;
		font-size : 11px;
		line-height : 21px;
		color : #FFFFFF;
		color : rgb(255, 255, 255);
	}

    .right-text {
        padding : 10px;
        font-family : 微軟正黑體;
        font-size : 11px;
        line-height : 21px;
        text-align: right;
        a {
            color : #FFFFFF;
            color : rgb(255, 255, 255); 
        }
    }
}

.admin {
    margin: 0px auto;
    padding: 20px;
    font-family: "微軟正黑體";
    max-width: 1100px;

    #edit-page-Modal .modal-dialog {
        width: 1100px;
    }

    #create-news-Modal .modal-dialog {
        width: 1100px;
    }
}

.news-table {
    margin: 0px auto;
    width: 600px;
    .date {
        width: 20%;
    }
    .title {
        width: 60%;
    }
    .hit{
        width: 20%;
    }
}

.news-title {
    margin: 0px auto;
    padding: 30px;
    padding-bottom: 0px;
    width: 900px;
    font-size: 24px;
}