body{font-family:微軟正黑體}
hr{border:0;height:3px;margin-top:-9px;background-color:#76B4D8}
.header{width:900px;height:155px;margin:auto;cursor:pointer;box-shadow:0px 0px 5px #999}.header .header-image{width:900px;height:114px}
.header .header-title{background-image:url(../img/image02.png);width:260px;height:90px;margin-left:90px;margin-top:20px;display:inline-block}
.header .header-small-title{background-image:url(../img/image03.png);background-repeat:no-repeat;width:310px;height:60px;margin-left:340px;margin-top:20px;display:inline-block}
.header .header-navi-bar{background:#004F78;width:900px;height:41px;display:inline-block}.header .header-navi-bar .header-navi-bar-text{font-family:微軟正黑體;font-size:15px;font-weight:bolder;color:#FFFFFF;text-outline:#FFFFFF}
.header .header-navi-bar .nav>li{width:120px;text-align:center}
.header .header-navi-bar .dropdown-menu{min-width:120px}
.header .header-navi-bar .dropdown-menu>li{width:120px;margin:0px}
.header .header-navi-bar .dropdown-menu>li>a{margin:0px;padding-left:0px;padding-right:0px}
.header .header-navi-bar .nav>li>a:hover,.header .header-navi-bar .nav>li>a:focus{background:#76B4D8;color:#000000;height:41px}
.header .header-navi-bar .nav>li>a:hover .header-navi-bar-text,.header .header-navi-bar .nav>li>a:focus .header-navi-bar-text{background:#76B4D8;color:#000000}
.content{position:relative;width:900px;min-height:500px;margin:auto;box-shadow:0px 0px 5px #999}.content .col-md-2,.content .col-md-4,.content .col-md-8,.content .col-md-10{padding-left:0;padding-right:0}
.content .link{position:relative;margin:0px auto;width:900px;height:150px;padding-top:10px;padding-left:10px;padding-right:10px;padding-bottom:10px;display:inline-block}.content .link img{vertical-align:baseline}
.content .link .link-e-forum{position:absolute;top:10px;margin:0px auto;width:345px;height:200px;display:inline-block}
.content .link .link-fb{position:absolute;top:10px;left:325px;margin:0px auto;width:245px;height:200px;display:inline-block}
.content .link .link-enroll{position:absolute;top:2px;left:600px;margin:0px auto;width:275px;height:200px;display:inline-block}
.content .link .sub-link-e-forum,.content .link .sub-link-e-flickr{margin-left:1px}
.content .carousel{background-repeat:no-repeat;width:600px;height:350px;display:inline-block}.content .carousel .carousel-indicators{top:5%}
.content .carousel .carousel-control .icon-prev{top:90%;left:25%}
.content .carousel .carousel-control .icon-next{top:90%;left:75%}
.content .carousel .carousel-caption{left:0%;bottom:0%;z-index:0;width:600px;height:55px;background-color:rgba(0,0,0,0.5)}.content .carousel .carousel-caption .carousel-text{top:0%;z-index:1;font-family:微軟正黑體;font-size:16px;color:#FFFFFF;color:#fff;opacity:1;font-weight:bolder}
.content .news{background-color:rgba(206,235,240,0.5);height:350px;padding:20px;display:inline-block}.content .news .title{font-family:微軟正黑體;font-size:20px;color:#182945;text-outline:#182945;margin-left:10px;font-weight:bolder}
.content .news .table tbody>tr>td{border:0}
.content .news .read-more{text-align:right;margin-left:auto;margin-right:0}
.content .header-left{background:#DFE6F2;background:#dfe6f2;overflow:hidden}.content .header-left .list-text{background:#DFE6F2;background:#dfe6f2;text-align:center}
.content .header-left .list-group{margin-bottom:0px}
.content .page-content{padding:30px}
.footer{background:#1A1A1A;background:#1a1a1a;margin:0px auto;width:900px;height:90px;padding-left:20px;padding-right:20px}.footer .left-text{padding:10px;font-family:微軟正黑體;font-size:11px;line-height:21px;color:#FFFFFF;color:#fff}
.footer .right-text{padding:10px;font-family:微軟正黑體;font-size:11px;line-height:21px;text-align:right}.footer .right-text a{color:#FFFFFF;color:#fff}
.admin{margin:0px auto;padding:20px;font-family:"微軟正黑體";max-width:1100px}.admin #edit-page-Modal .modal-dialog{width:1100px}
.admin #create-news-Modal .modal-dialog{width:1100px}
.news-table{margin:0px auto;width:600px}.news-table .date{width:20%}
.news-table .title{width:60%}
.news-table .hit{width:20%}
.news-title{margin:0px auto;padding:30px;padding-bottom:0px;width:900px;font-size:24px}
