header {
	background-image : url(../img/image01.png);
	background-repeat : no-repeat;
	width : 1100px;
	height : 660px;
	margin: 0px auto;
	overflow : hidden;
	z-index: 1;
	cursor: pointer;
}

header .header-title {
	background-image : url(../img/image02.png);
	background-repeat : no-repeat;
	width : 260px;
	height : 90px;
	margin-left: 90px; 
	margin-top: 20px;
	display: inline-block;
}

header .header-small-title {
	background-image : url(../img/image03.png);
	background-repeat : no-repeat;
	width : 310px;
	height : 60px;
	margin-left: 340px; 
	margin-top: 20px;
	display: inline-block;
}

header .header-navi-bar {
	background : #004F78;
	border-style : outset outset none outset ;
	border-color : #230982;
	border-width : 1px;
	border-radius: 5px;
	width : 900px;
	height : 45px;
	margin-left: 100px; 
	box-shadow: 1px 1px 5px #999;
}

header .header-navi-bar-text {
	font-family : 微軟正黑體;
	font-size : 15px;
	font-weight: bolder;
	color : #FFFFFF;
	text-outline : #FFFFFF;
	padding-left: 20px;
}