<% if (locale === 'zh-tw') { %>

<div class="link">
  <div class="link-e-forum">
    <a target="_blank" href="http://ntujournal.blogspot.tw/">
    <img src="img/index/chinese_News%20forum.png" style="max-width: 300px;" ></img></a>
  </div>
  <div class="link-fb">
    <a target="_blank" href="http://www.facebook.com/tai.da.568">
    <img src="img/index/chinese_Journalism.png" style="max-width: 120px;"></img>
    </a>
    <a target="_blank" href="http://www.flickr.com/photos/101076267@N05/sets">
    <img src="img/index/chinese_Album.png" style="margin-left:10px;max-width: 120px;"></img></a>
    <a target="_blank" href="https://www.facebook.com/NtuNewsEForum">
    <img src="img/index/chinese_E-forum.png" style="max-width: 120px;"></img></a>
    <a target="_blank" href="http://www.flickr.com/photos/101076267@N05/sets">
    <img src="img/index/chinese_Link.png" style="margin-left:10px;max-width: 120px;"></img></a>
  </div>
  <div class="link-enroll">
    <a href="/p/admissions/qualifying%20examination%20pamphlets">
    <img src="img/index/chinese_Admissions.png" style="max-width: 243px;"></img>
    </a>
  </div>
</div>

<% } else { %>

<div class="link">
  <div class="link-e-forum">
    <a target="_blank" href="http://ntujournal.blogspot.tw/">
    <img src="img/index/en_News%20forum.png" style="max-width: 300px;" ></img></a>
  </div>
  <div class="link-fb">
    <a target="_blank" href="http://www.facebook.com/tai.da.568">
    <img src="img/index/en_Journalism.png" style="max-width: 120px;"></img>
    </a>
    <a target="_blank" href="http://www.flickr.com/photos/101076267@N05/sets">
    <img src="img/index/en_Album.png" style="margin-left:10px;max-width: 120px;"></img></a>
    <a target="_blank" href="https://www.facebook.com/NtuNewsEForum">
    <img src="img/index/en_E-forum.png" style="max-width: 120px;"></img></a>
    <a target="_blank" href="http://www.flickr.com/photos/101076267@N05/sets">
    <img src="img/index/en_Link.png" style="margin-left:10px;max-width: 120px;"></img></a>
  </div>
  <div class="link-enroll">
    <a href="/p/admissions/qualifying%20examination%20pamphlets">
    <img src="img/index/en_Admissions.png" style="max-width: 243px;"></img>
    </a>
  </div>
</div>

<% } %>