<div class="link">
  <div class="link-e-forum">
    <img src="img/e-forum.png" style="max-width: 300px;" ></img>
  </div>
  <div class="link-fb">
    <img src="img/activity.png" style="max-width: 250px;"></img>
    <img src="img/fb-student.png" style="max-width: 60px;"></img>
    <img src="img/fb-alumnus.png" style="max-width: 60px;"></img>
    <img src="img/flicker-activity.png" style="max-width: 98px;"></img>
  </div>
  <div class="link-enroll">
    <img src="img/recruit-students.png" style="max-width: 270px;"></img>
    <img src="img/link.png" style="max-width: 270px;"></img>
  </div>
</div>