<table id="index-news-table" class="table">
  <tbody>
    <tr>
      <td><img src="img/image06.png"></img>
          <span class="title">最新消息</span>
      </td>
    </tr>
    <% var length = (news.length > 5) ? 5 : news.length; %>
    <% for (var i=0 ; i< length; i++) { %>
    <tr>
      <td><%= news[i].title %></td>
    </tr>
    <% } %>
    <tr>
      <td><span class="read-more"><a href="/news?type=news">Read More</a></span></td>
    </tr>
  </tbody>
</table>