<div class="link">
  <div class="link-e-forum">
    <a target="_blank" href="http://ntujournal.blogspot.tw/">
    <img src="img/e-forum.png" style="max-width: 300px;" ></img></a>
  </div>
  <div class="link-fb">
    <a href="/news?type=activity">
    <img src="img/activity.png" style="max-width: 250px;"></img>
    </a>
    <a target="_blank" href="https://www.facebook.com/NtuNewsEForum">
    <img src="img/FB-e-forum.png" style="max-width: 60px;"></img></a>
    <a target="_blank" href="http://www.facebook.com/tai.da.568">
    <img src="img/FB-news.png" style="max-width: 60px;"></img></a>
    <a target="_blank" href="http://www.flickr.com/photos/101076267@N05/sets">
    <img src="img/flicker-activity.png" style="max-width: 98px;"></img></a>
  </div>
  <div class="link-enroll">
    <a href="/p/admissions/qualifying%20examination%20pamphlets">
    <img src="img/recruit-students.png" style="max-width: 270px;"></img>
    </a>
    <a target="_blank" href="http://indcacrc.blogspot.tw/">
    <img src="img/link.png" style="max-width: 270px;"></img>
    </a>
  </div>
</div>