<div class="link">
  <div class="link-e-forum">
    <a href="http://ntujournal.blogspot.tw/">
    <img src="img/e-forum.png" style="max-width: 300px;" ></img></a>
  </div>
  <div class="link-fb">
    <a href="/news?type=activity">
    <img src="img/activity.png" style="max-width: 250px;"></img>
    </a>
    <a href="https://www.facebook.com/tai.da.568">
    <img src="img/fb-student.png" style="max-width: 60px;"></img></a>
    <a href="http://www.facebook.com/groups/196682803733258/">
    <img src="img/fb-alumnus.png" style="max-width: 60px;"></img></a>
    <a href="http://www.facebook.com/groups/196682803733258/">
    <img src="img/flicker-activity.png" style="max-width: 98px;"></img></a>
  </div>
  <div class="link-enroll">
    <a href="/news?type=enroll">
    <img src="img/recruit-students.png" style="max-width: 270px;"></img>
    </a>
    <a href="http://indcacrc.blogspot.tw/">
    <img src="img/link.png" style="max-width: 270px;"></img>
    </a>
  </div>
</div>