<!-- create-class-Modal -->
<div class="modal fade" id="edit-i18n-Modal">
	<div class="modal-dialog"><div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Select a language</h4>
        </div>
        <div class="modal-body">
            <div id="jsoneditor" style="width: 500px; height: 400px;"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="createClassBtn" form="createClass" type="submit" class="btn btn-primary">Create</button>
        </div>
        </div><!-- /.modal-content --></div><!-- /.modal-dialog -->

        <script type="text/javascript" >
            // create the editor
            var container = document.getElementById("jsoneditor");
            var options = {
                "mode": "text",
                "indentation": 2
            };
            var editor = new jsoneditor.JSONEditor(container, options);

            // set json
            $.getJSON( "/languages/zh-tw.json", function(data) {
                editor.set(data);
            });

            // get json
            var json = editor.get();
        </script>
</div><!-- /.modal -->