<!-- create-class-Modal -->
<div class="modal fade" id="create-news-Modal">
	<div class="modal-dialog"><div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create a news</h4>
        </div>
        <div class="modal-body">
            <form id="createNews" role="form" action="/admin/createNews" method="post">
                <div class="form-group">
                    <label>主分類</label>
                    <select class="type" name="type">
                        <option value="news">最新消息</option>
                        <option value="activity">近期活動</option>
                        <option value="enroll">招生資訊</option>
<!--                         <% for(var i=0; i<pages.length; i++) { %>
                        <option value="<%= pages[i]._id %>"><%= pages[i].title %>
                        </option>
                        <% } %> -->
                    </select> 
                </div>
                <div class="form-group">
                    <label>文章標題</label>
                    <input type="text" name="title" class="title form-control" placeholder="ex:系所簡介">
                </div>
                <div class="form-group">
                    <label>內容</label>
                    <textarea class="ckeditor" id="newsEditor" name="newsEditor"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="createNewsBtn" form="createNews" type="submit" class="btn btn-primary">Create</button>
        </div>
        </div><!-- /.modal-content --></div><!-- /.modal-dialog -->
</div><!-- /.modal -->