<!-- edit-page-Modal -->
<div class="modal fade" id="edit-page-Modal">
	<div class="modal-dialog"><div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><h4 id="location"></h4></h4>
        </div>
        <div class="modal-body">
            <div id="editor">
              <textarea class="ckeditor" name="editor1"></textarea>
            </div>	
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="submitBtn" type="submit" class="btn btn-primary">Save</button>
        </div>
        </div><!-- /.modal-content --></div><!-- /.modal-dialog -->
</div><!-- /.modal -->